
::ng-deep button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-warn.mat-mdc-button-base {
  margin-left: 8px;
  margin-right: 15px;
}

img {
  width: 10%;
  position: absolute;
  left: 150px;
}

.spacer {
  flex: 1 auto;
}

a.main {
  display: flex;
  padding: 15px;
}

a {
  color: #000;
  display: contents;
  text-decoration: none;
}

a mat-icon {
  position: relative;
  right: 10px;
}

.example-header-image {
  background-image: url("../../../assets/8.jfif");
  width: 35px;
  position: relative;
  height: 35px;
  border-radius: 50%;
  margin: 0 auto;
}

.last_section {
  display: flex;
  position: absolute;
  right: 35px;
}

@media only screen and (max-width: 768px) {

  mat-card.mdc-card.example-card {
    margin: 0;
  }
  /* For mobile phones: */
  .spacer {
    margin: auto;
  }

  .last_section {
    display: flex;
    justify-content: flex-start;
    width: 90px;
  }

  img {
    position: absolute;
    width: 15%;
    left: 15px;
  }
}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */

  .last_section {
    display: none;
  }
  a.main {
    display: none;
  }
  img {
    width: 35%;
    position: relative;
    left: 150px;
  }
}


@media only screen and (max-width: 320px) {
  /* For mobile phones: */

  img {
    position: relative;
    width: 40%;
    left: 100px;
  }

  .last_section {
    display: none;
  }
}
