 <mat-toolbar style="background-color: white;">
  <img src="assets/1.png" />

  <div class="spacer"></div>
  <a mat-button [routerLink]="'/'" class="main"><mat-icon>home</mat-icon> Home</a>
  <a mat-button [routerLink]="'/'" class="main"><mat-icon>group</mat-icon>Trustees</a>
  <a mat-button [routerLink]="'/'" class="main"><mat-icon>person</mat-icon>Professionals</a>
  <a mat-button [routerLink]="'/'" class="main"><mat-icon>more_horiz</mat-icon>More</a>

  <div class="spacer"></div>
  <mat-icon>search</mat-icon>
  <button class="btn-button">
    <mat-icon>email</mat-icon> <span>invite</span>
  </button>
  <div mat-card-avatar class="example-header-image"></div>
</mat-toolbar>
