 <mat-toolbar style="background-color: white;">
  <img src="assets/1.png" />

  <div class="spacer"></div>
  <a mat-button [routerLink]="'/'" class="main"><mat-icon>home</mat-icon> Home</a>
  <a mat-button [routerLink]="'/'" class="main"><mat-icon>group</mat-icon>Trustees</a>
  <a mat-button [routerLink]="'/'" class="main"><mat-icon>person</mat-icon>Professionals</a>
  <a mat-button [routerLink]="'/'" class="main"><mat-icon>more_horiz</mat-icon>More</a>

  <div class="spacer"></div>
  <div class="last_section">
  <mat-icon>search</mat-icon>
  <button mat-raised-button color="warn"><mat-icon>email</mat-icon>invite</button>
  <div mat-card-avatar class="example-header-image"></div>
  </div>
</mat-toolbar>
