* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
    padding: 10px;
    flex: 30%;
}

.flex-item-right {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 70%;
}
.header{
    background-color: burlywood;
    color: black;
    font-weight: 500;
    text-align: start;
}
@media (max-width: 786px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}

.example-header-image {
  background-image: url("../../../assets/6.jfif");
  width: 140px;
  position: relative;
  top: 30px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto;
}

.card-header {
  padding-top: 50px;
  text-align: center;
  display: block;
}

hr {
  margin-left: 40px;
  margin-right: 40px;
}

span {
  font-size: 15px;
  position: relative;
  padding: 15px;
}

mat-card mat-card-actions {
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 13px;
  padding-left: 16px;
  color: red;
  margin-top: 10px;
}

mat-card .main {
  font-weight: 500;
  margin: -9px;
  background-color: #9c6137;
  color: #f1f1f1;
}
.mat-mdc-card-header {
  display: flex;
  margin-top: 45px;
  justify-content: center;
}

mat-card-actions mat-icon {
  color: #f30707;
}

mat-card-header.section {
  margin: 0px;
}

mat-card-content.main_section {
  display: flex;
  justify-content: space-between;
}

h4 {
  position: absolute;
  left: 50px;
  top: 18px;
  font-weight: 500;
}

::ng-deep mat-card-content.mat-mdc-card-content.main_first {
  display: flex;
  position: relative;
  left: 35px;
}

::ng-deep mat-card-subtitle.mat-mdc-card-subtitle.main_title {
  position: relative;
    margin: 0 auto;
    padding: 4px;
}

::ng-deep .mat-mdc-card-content:first-child {
  padding-top: 10px;
  padding-bottom: 10px;
}
