
<div class="flex-container">
  <div class="flex-item-left">
    <mat-card class="example-card">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-header class="main-card-header">
        <mat-card-title>Jone Smith</mat-card-title>
        <mat-card-subtitle>CFA, CIC</mat-card-subtitle>
        <mat-card-subtitle><strong>Premimum member</strong></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>school</mat-icon>
        <span>Insureance Agent, Attorney, Accounttant</span>
      </mat-card-content>
      <hr />
      <mat-card-actions>
        <mat-icon color="accent">email</mat-icon>
        <h2 color="accent">Send an Email</h2>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Right -->
  <div class="flex-item-right">
    <mat-card>
       <mat-card-content class="main_section">
        <mat-card-title class="profile"><mat-icon>person</mat-icon>Profile</mat-card-title>
        <mat-card-subtitle>
          <button mat-raised-button type="button" class="btn btn-danger" (click)="openDialog()">Edit Profile</button>
        </mat-card-subtitle>
      </mat-card-content>

    </mat-card>
    </div>
