
<div class="flex-container">
  <div class="flex-item-left">
    <mat-card class="example-card">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-header class="main-card-header">
        <mat-card-title>Jone Smith</mat-card-title>
        <mat-card-subtitle>CFA, CIC</mat-card-subtitle>
        <mat-card-subtitle><strong>Premimum member</strong></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-icon>school</mat-icon>
        <span>Insureance Agent, Attorney, Accounttant</span>
      </mat-card-content>
      <hr />
      <mat-card-actions>
        <mat-icon color="accent">email</mat-icon>
        <h2 color="accent">Send an Email</h2>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Right -->
  <div class="flex-item-right">
    <mat-card-content class="header">
      Busness Details
    </mat-card-content>
    <mat-card>
       <mat-card-content class="main_section">
        <mat-card-title class="profile"><mat-icon>person</mat-icon><h4>Profile</h4></mat-card-title>
        <mat-card-subtitle>
          <button mat-raised-button color="warn"(click)="openDialog()">Edit Profile</button>
        </mat-card-subtitle>
      </mat-card-content>
      <mat-card-content class="main_first">
        <mat-label>Name</mat-label>
        <mat-card-subtitle class="main_title">Admin</mat-card-subtitle>
      </mat-card-content>
      <mat-card-content class="main_first">
        <mat-label>Domain</mat-label>
        <mat-card-subtitle class="main_title">welcome.com</mat-card-subtitle>
      </mat-card-content>
      <mat-card-content class="main_first">
        <mat-label>Gender</mat-label>
        <mat-card-subtitle class="main_title">Male</mat-card-subtitle>
      </mat-card-content>
      <mat-card-content class="main_first">
        <mat-label>Date of Birth</mat-label>
        <mat-card-subtitle class="main_title">01/12/2022</mat-card-subtitle>
      </mat-card-content>
      <mat-card-content class="main_first">
        <mat-label>Phone</mat-label>
        <mat-card-subtitle class="main_title">+919874563210</mat-card-subtitle>
      </mat-card-content>
      <mat-card-content class="main_first">
        <mat-label>Location</mat-label>
        <mat-card-subtitle class="main_title">Pune Mharastra</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    </div>
